<div class="mdl-grid center-items">
    <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--2dp custom-center-width">

            <!-- Header -->
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Match Setup</h2>
            </div>

            <!-- Dividing line -->
            <hr style="margin: 0px; margin-left: 16px; margin-right: 16px;">

            <!-- Body -->
            <div class="mdl-card__supporting-text custom-center-width">

                <!--Text Field for Pre-Match Notes-->
                <form action="#" class="custom-side-padding--0-px">
                    <div class="mdl-textfield mdl-js-textfield custom-center-width mdl-textfield--floating-label removeDirty">
                        <textarea class="mdl-textfield__input" rows="4" id="prenotes"></textarea>
                        <label class="mdl-textfield__label" for="prenotes">Pre-Match Notes</label>
                    </div>
                </form>

                <br>

                <!--Start Match-->
                <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" onclick="MatchTimerStart(); nextPage('setup');" style="width: 100%" id="matchStart">Start Match</button>

            </div>
        </div>
    </div>
</div>